$rose-color: #fa4667;
$white-color: #fff;
$blue-color: #39daf0;
$montserrat: 'Montserrat';

.no_marg_pad {
    margin: 0 auto;
    padding: 0;
}

.grid-index {
    display: grid;
    grid-template-columns: 200px 400px 324px;
    grid-template-rows: 600px;
    gap: 50px;
}

.grid {
    display: grid;
    grid-template-columns: 200px 724px;
    grid-template-rows: 600px;
    gap: 50px;  
}

body {
    width: 1024px;
    @extend .no_marg_pad;
    font-family: $montserrat;
    color: #000;

    h1 {
        @extend .no_marg_pad;
        font-size: 40px;
        font-weight: 700;
        text-align: center;
        color: $white-color;
    }
    
    h2 {
        @extend .no_marg_pad;
        font-size: 24px;
        padding: 30px 0;
        font-weight: 400;

        span {
            font-weight: 700;
            color: $blue-color;
        }
    }

    a {
        font-size: 15px;
        text-decoration: none;
    }

    ul {
        @extend .no_marg_pad
    }

    li {
        list-style-type: none;
    }

    button {
        font-size: 15px;
        font-family: $montserrat;
        font-weight: 600;
    }

    p{
        @extend .no_marg_pad;
        font-weight: 300;
        font-size: 14px;
        span{
            font-weight: 600;
            color: $blue-color;
        }
    }
}

.photo1 {
    background-image: url(/images/cupcake.jpg);
}

.photo2 {
    background-image: url(/images/cupcake2.jpg);
}

.photo3{
    background-image: url(/images/cupcake3.jpg);
}

header {
    min-width: 1024px;
    min-height: 400px;

    h1 {
        padding: 100px 0 0 0;
    }

    nav {
        background-color: $white-color;
        margin: 200px 0 50px 0;

        ul{
            text-align: right;

            li{
                padding: 20px 20px 20px 0;
                display: inline-block;

                a{
                    color: $rose-color;
                    font-weight: 500;
                }

                &:first-child {

                    &::after{
                        content: url(/images/icone.png);
                        padding: 10px;
                    }
                }
                input{

                    &:focus {
                        background-color: #ffa7b7;
                    }
                }
            }
            
        }
    }
}

main {

    .second-menu {
        padding: 20px;
        background-color: $rose-color;

        ul{
            li{
                padding-bottom: 10px;

                a{
                    color: $white-color;
                }

                &:first-child, &:last-child {
                    font-weight: 600;
                    text-decoration: underline;
                }
            }
        }
    }
}

.image_diapo_size{
    min-width: 400px;
    min-height: 600px;
}

.carrousel {
    align-items: center;
    margin: 2rem auto;
    width: 400px;
    display: flex;
    position: relative;

    &__images {
        .image1 {
            background-image: url(/images/diapo1.jpg);
            @extend .image_diapo_size

        }

        .image2{
            background-image: url(/images/diapo2.jpg);
            @extend .image_diapo_size
        }
    }
    
    &__button {
        font-family: $montserrat;
        font-size: 15px;
        position: absolute;
        cursor: pointer;
        transition: opacity 0.25s;
        background-color: $white-color;
        color: $blue-color;
        padding: 8px;
        border: 3px solid $blue-color;
        
        &.previous{
            left: 5px;
        }

        &.next{
            right: 5px;
        }
    
        &:hover {
            opacity: 0.5;
        }
    }
}

.text {
    p{
        padding: 5px 0;
    }

    &::first-letter{
        font-weight: 600;
        font-size: 18px;
        color: $rose-color;
    }
}

main {
    table{
        padding: 50px 0;

        tr{
            text-align: center;
            th{
                background-color: $white-color;
                font-size: 17px;
                font-weight: 600;
                width: 400px;
            }

            td{
                padding: 10px;
            }

            &:nth-child(even){
                background-color: #d5fbff;
            }

            &:nth-child(odd){
                background-color: $blue-color;
            }

            &:first-child {
                font-size: 13px;
                background-color: $white-color;
            }
        }
    }
}

.after{
    &::after{
        content: " *";
        color: #ff264e;
    }
}

main {

    .form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 20px 30px 20px 30px 20px 30px 20px 60px 50px;
        gap: 20px;
        font-family: $montserrat;
        
        label {
            @extend .after;

            &:nth-child(1){
                grid-column-start: 1;
            }

            &:nth-child(1), &:nth-child(3){
                grid-row: 1;
            }

            &:nth-child(5) {
                grid-row: 3;
            }

            &:nth-child(7) {
                grid-row: 5;
            }

            &:nth-child(9) {
                grid-row: 7;
            }
        }

        select {
            font-family: $montserrat;
            grid-row: 6;
        }

        textarea {
            grid-row: 8;
            resize: none;
            grid-column-start: 1;
            grid-column-end: 3;
        }

        button {
            margin: 20px 0 0 0;
            grid-row: 9;
            grid-column-start: 2;
            background-color: $blue-color;
            color: $white-color;
            border: none;
        }

        input {
            // input nom
            &:nth-child(2){
                grid-column-start: 1;
            }
            // input nom & prenom
            &:nth-child(2), &:nth-child(4){
                grid-row: 2;
            }
            // input courriel
            &:nth-child(6){
                grid-row: 4;
                grid-column-start: 1;
                grid-column-end: 3;

                &:focus {
                    &:valid {
                        border: 4px solid #48e7c5;
                    }
    
                    &:invalid {
                        border: 4px solid $rose-color;
                    }
                }
            }
        }
    }
}

footer {
    min-height: 200px;
    margin-top: 50px;
    text-align: center;

    p{
        padding-top: 80px;
    }
}

