.no_marg_pad, body p, body ul, body h2, body h1, body {
  margin: 0 auto;
  padding: 0;
}

.grid-index {
  display: grid;
  grid-template-columns: 200px 400px 324px;
  grid-template-rows: 600px;
  gap: 50px;
}

.grid {
  display: grid;
  grid-template-columns: 200px 724px;
  grid-template-rows: 600px;
  gap: 50px;
}

body {
  width: 1024px;
  font-family: "Montserrat";
  color: #000;
}
body h1 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  color: #fff;
}
body h2 {
  font-size: 24px;
  padding: 30px 0;
  font-weight: 400;
}
body h2 span {
  font-weight: 700;
  color: #39daf0;
}
body a {
  font-size: 15px;
  text-decoration: none;
}
body li {
  list-style-type: none;
}
body button {
  font-size: 15px;
  font-family: "Montserrat";
  font-weight: 600;
}
body p {
  font-weight: 300;
  font-size: 14px;
}
body p span {
  font-weight: 600;
  color: #39daf0;
}

.photo1 {
  background-image: url(/images/cupcake.jpg);
}

.photo2 {
  background-image: url(/images/cupcake2.jpg);
}

.photo3 {
  background-image: url(/images/cupcake3.jpg);
}

header {
  min-width: 1024px;
  min-height: 400px;
}
header h1 {
  padding: 100px 0 0 0;
}
header nav {
  background-color: #fff;
  margin: 200px 0 50px 0;
}
header nav ul {
  text-align: right;
}
header nav ul li {
  padding: 20px 20px 20px 0;
  display: inline-block;
}
header nav ul li a {
  color: #fa4667;
  font-weight: 500;
}
header nav ul li:first-child::after {
  content: url(/images/icone.png);
  padding: 10px;
}
header nav ul li input:focus {
  background-color: #ffa7b7;
}

main .second-menu {
  padding: 20px;
  background-color: #fa4667;
}
main .second-menu ul li {
  padding-bottom: 10px;
}
main .second-menu ul li a {
  color: #fff;
}
main .second-menu ul li:first-child, main .second-menu ul li:last-child {
  font-weight: 600;
  text-decoration: underline;
}

.image_diapo_size, .carrousel__images .image2, .carrousel__images .image1 {
  min-width: 400px;
  min-height: 600px;
}

.carrousel {
  align-items: center;
  margin: 2rem auto;
  width: 400px;
  display: flex;
  position: relative;
}
.carrousel__images .image1 {
  background-image: url(/images/diapo1.jpg);
}
.carrousel__images .image2 {
  background-image: url(/images/diapo2.jpg);
}
.carrousel__button {
  font-family: "Montserrat";
  font-size: 15px;
  position: absolute;
  cursor: pointer;
  transition: opacity 0.25s;
  background-color: #fff;
  color: #39daf0;
  padding: 8px;
  border: 3px solid #39daf0;
}
.carrousel__button.previous {
  left: 5px;
}
.carrousel__button.next {
  right: 5px;
}
.carrousel__button:hover {
  opacity: 0.5;
}

.text p {
  padding: 5px 0;
}
.text::first-letter {
  font-weight: 600;
  font-size: 18px;
  color: #fa4667;
}

main table {
  padding: 50px 0;
}
main table tr {
  text-align: center;
}
main table tr th {
  background-color: #fff;
  font-size: 17px;
  font-weight: 600;
  width: 400px;
}
main table tr td {
  padding: 10px;
}
main table tr:nth-child(even) {
  background-color: #d5fbff;
}
main table tr:nth-child(odd) {
  background-color: #39daf0;
}
main table tr:first-child {
  font-size: 13px;
  background-color: #fff;
}

.after::after, main .form label::after {
  content: " *";
  color: #ff264e;
}

main .form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20px 30px 20px 30px 20px 30px 20px 60px 50px;
  gap: 20px;
  font-family: "Montserrat";
}
main .form label:nth-child(1) {
  grid-column-start: 1;
}
main .form label:nth-child(1), main .form label:nth-child(3) {
  grid-row: 1;
}
main .form label:nth-child(5) {
  grid-row: 3;
}
main .form label:nth-child(7) {
  grid-row: 5;
}
main .form label:nth-child(9) {
  grid-row: 7;
}
main .form select {
  font-family: "Montserrat";
  grid-row: 6;
}
main .form textarea {
  grid-row: 8;
  resize: none;
  grid-column-start: 1;
  grid-column-end: 3;
}
main .form button {
  margin: 20px 0 0 0;
  grid-row: 9;
  grid-column-start: 2;
  background-color: #39daf0;
  color: #fff;
  border: none;
}
main .form input:nth-child(2) {
  grid-column-start: 1;
}
main .form input:nth-child(2), main .form input:nth-child(4) {
  grid-row: 2;
}
main .form input:nth-child(6) {
  grid-row: 4;
  grid-column-start: 1;
  grid-column-end: 3;
}
main .form input:nth-child(6):focus:valid {
  border: 4px solid #48e7c5;
}
main .form input:nth-child(6):focus:invalid {
  border: 4px solid #fa4667;
}

footer {
  min-height: 200px;
  margin-top: 50px;
  text-align: center;
}
footer p {
  padding-top: 80px;
}

/*# sourceMappingURL=styles.css.map */
